*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: linear-gradient(to right, #ff6e7f, #bfe9ff);
  display: flex;
  align-items: center;
  justify-content: center;
}
